/* header, h1, nav, ul, li {
    display: inline;
  } */

 header{
    border-bottom: 2px solid black;
    margin: 0 1em;
    padding-top: 0em;
    position: relative;
 }

.site-main{
    padding: 2em;
}
.header-nav{
    position: absolute;
    right: 150px;
    top: 30px;

}